.h1 {


    background-color: seagreen;
    border: 20px solid red;

    border-style: dashed;
    max-width: 50%;
    float: left;


}

.d {
    background-color: lime;


    max-width: 20%;
    border-style: ridge;
    border: 10px solid red;
    margin-left: 20px;

}

.d1 {
    background-color: rgb(185, 29, 29);


    max-width: 70%;
    height: 200px;
    border-style: ridge;
    border: 10px solid rgb(10, 7, 7);

}

.jirjir {
    background-color: rgb(39, 206, 95);

    max-width: 65%;
    height: 100px;
    border-style: ridge;
    border: 10px solid rgb(46, 21, 187);
    border-top-left-radius: 160px;
    text-align: center;
}

.jirjir2 {
    background-color: rgb(98, 95, 105);


    max-width: 20%;
    height: 100px;
    border-style: ridge;
    border: 10px solid rgba(233, 10, 10, 0.678);
    border-top-right-radius: 200px;
    text-align: center;


}

.gupto {
    background-color: rgb(233, 231, 238);

    max-width: 20%;
    height: 100px;
    border-style: ridge;
    border: 10px solid rgba(233, 10, 10, 0.678);
    border-top-right-radius: 100px;

    text-align: center;
}